@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  font-family: monospace; 
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  width: 100%;
  min-height: 63px;
  background-color: #4a4ce9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  
  display: flex;
}

nav ul li {
  display: inline-block;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 20px 25px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

nav ul li ul.dropdown li {
  display: block;
}

nav ul li ul.dropdown {
  width: 100%;
  background: #4a4ce9;
  position: absolute;
  z-index: 999;
  display: none;
  border-radius: 0px 0px 12px 12px;
}

nav ul li a:hover {
  background: #301774;
}

nav ul li:hover ul.dropdown {
  display: block;
}

#data:hover {
  border-radius: 0px 0px 12px 12px;
}

.toggle-button {
  position: absolute;
  top: 25px;
  right: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 23px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: #000000;
  border-radius: 100px;
}

@media(max-width:750px){
  .list-container {
    display: none;
    width: 100%;
  }
  .toggle-button {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .list-container .uls {
    flex-direction: column;
    width: 100%;
  }
  .list-container .link {
    text-align: center;
  }
  .list-container.active {
    display: flex;
  }
}
